@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Biz Home page</p>
    <div class="Biz_image_wrapper">
        <img src="assets/BizOrders.png" class="w-100 h-100" alt="Biz" />
    </div>
</div>
